<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="bmw_otsingFrame">
		<title>BMW otsing</title>
		<centered>1</centered>
		<icon>C:\wxWidgets-3.0.2\include\wx\msw\bmw.ico</icon>
		<maxsize>350,320</maxsize>
		<object class="wxGridBagSizer" variable="gridContainer" member="no">
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_TXTMUDEL" variable="txtMudel" member="yes">
					<label>Aastad</label>
				</object>
				<col>0</col>
				<row>0</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_MUDELCHOICE" variable="mudelChoice" member="yes">
					<content>
						<item>kõik</item>
						<item>E12</item>
						<item>E21</item>
						<item>E23</item>
						<item>E24</item>
						<item>E28</item>
						<item>E30</item>
						<item>E31</item>
						<item>E32</item>
						<item>E34</item>
						<item>E36</item>
						<item>E38</item>
						<item>E39</item>
						<item>E46</item>
					</content>
					<selection>0</selection>
				</object>
				<col>1</col>
				<row>0</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_TXTGBOX" variable="txtgBox" member="yes">
					<label>Käigukast</label>
				</object>
				<col>0</col>
				<row>3</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_TXTFUEL" variable="txtFuel" member="yes">
					<label>Kütus</label>
				</object>
				<col>0</col>
				<row>2</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_TXTAXLE" variable="txtAxle" member="yes">
					<label>Vedav sild</label>
				</object>
				<col>0</col>
				<row>4</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_TXTCHASSIS" variable="txtChassis" member="yes">
					<label>Keretüüp</label>
				</object>
				<col>0</col>
				<row>1</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_TXTKW" variable="txtkW" member="yes">
					<label>Võimsus (kW)</label>
				</object>
				<col>0</col>
				<row>5</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_TXTMAXPRICE" variable="txtMaxPrice" member="yes">
					<label>Hind (max)</label>
				</object>
				<col>0</col>
				<row>6</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHASSISCHOICE" variable="chassisChoice" member="yes">
					<content>
						<item>kõik</item>
						<item>sedaan</item>
						<item>universaal</item>
						<item>kupee</item>
						<item>kabriolett</item>
					</content>
					<selection>0</selection>
				</object>
				<col>1</col>
				<row>1</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="gboxContainer" member="no">
					<cols>3</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONMANAUT" variable="buttonManAut" member="yes">
							<label>kõik</label>
							<selected>1</selected>
							<style>wxRB_GROUP</style>
							<handler function="OnbuttonManAutSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONMANUAAL" variable="buttonManuaal" member="yes">
							<label>manuaal</label>
							<handler function="OnbuttonManuaalSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONAUTOMAAT" variable="buttonAutomaat" member="yes">
							<label>automaat</label>
							<handler function="OnbuttonAutomaatSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>3</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="kytusContainer" member="no">
					<cols>3</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONBENSIINDIISEL" variable="buttonBensiinDiisel" member="yes">
							<label>kõik</label>
							<selected>1</selected>
							<style>wxRB_GROUP</style>
							<handler function="OnbuttonBensiinDiiselSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONBENSIIN" variable="buttonBensiin" member="yes">
							<label>bensiin</label>
							<handler function="OnbuttonBensiinSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONDIISEL" variable="buttonDiisel" member="yes">
							<label>diisel</label>
							<handler function="OnbuttonDiiselSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>2</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTHIND" variable="textHind" member="yes">
					<maxlength>9</maxlength>
					<size>60,-1</size>
				</object>
				<col>1</col>
				<row>6</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="axleContainer" member="no">
					<cols>3</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONTAGANELIK" variable="buttonTagaNelik" member="yes">
							<label>kõik</label>
							<selected>1</selected>
							<style>wxRB_GROUP</style>
							<handler function="OnbuttonTagaNelikSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONTAGA" variable="buttonTaga" member="yes">
							<label>tagavedu</label>
							<handler function="OnbuttonTagaSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_BUTTONNELIK" variable="buttonNelik" member="yes">
							<label>nelikvedu</label>
							<handler function="OnbuttonNelikSelect" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>4</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="powerContainer" member="no">
					<cols>3</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TXTMINPOWER" variable="txtMinPower" member="yes">
							<maxlength>4</maxlength>
							<size>60,-1</size>
						</object>
						<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_TXTPOWERDIV" variable="txtPowerDivider" member="yes">
							<label>-</label>
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TXTMAXPOWER" variable="txtMaxPower" member="yes">
							<maxlength>5</maxlength>
							<size>60,-1</size>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>5</row>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="am24Container" member="no">
					<cols>2</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONAUTO24" variable="goAuto24" member="yes">
							<label>Auto24</label>
							<size>50,-1</size>
							<handler function="OngoAuto24Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>3</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONMOTORS24" variable="goMotors24" member="yes">
							<label>Motors24</label>
							<size>60,-1</size>
							<handler function="OngoMotors24Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>3</border>
						<option>1</option>
					</object>
				</object>
				<col>0</col>
				<row>7</row>
				<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="soContainer" member="no">
					<cols>3</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONSOOV" variable="goSoov" member="yes">
							<label>Soov</label>
							<size>40,-1</size>
							<handler function="OngoSoovClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>3</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONOKIDOKI" variable="goOkidoki" member="yes">
							<label>Okidoki</label>
							<size>50,-1</size>
							<handler function="OngoOkidokiClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>3</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONKULDNE" variable="goKuldne" member="yes">
							<label>Kuldne Börs</label>
							<size>70,-1</size>
							<handler function="OngoKuldneClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>3</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>7</row>
				<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="menuBar" member="no">
			<object class="wxMenu" variable="menuFile" member="no">
				<label>&amp;Fail</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Välju</label>
					<accel>Alt-F4</accel>
					<help>Sulge</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="menuHelp" member="no">
				<label>Abi</label>
				<object class="wxMenuItem" name="idMenuFaq" variable="MenuItem3" member="yes">
					<label>KKK</label>
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>Teave</label>
					<accel>F1</accel>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
	</object>
</wxsmith>
